.user-account-container h1 {
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-account-container .operation-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  width: 100%;
}

.user-account-container .operation-container .account-opr {
  border: 1px solid #d3d3d3;
  padding: 20px;
  display: flex;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
  transition: background 0.2s ease-in-out;
}

.user-account-container .operation-container .account-opr:hover {
  background: #d3d3d3;
}

.user-account-container .operation-container .account-opr .account-opr-wrapper {
  margin-left: 12px;
}

.user-account-container .operation-container .account-opr svg {
  font-size: 22px;
  flex-shrink: 0;
}

.user-account-container .operation-container h4 {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.user-account-container .operation-container p {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  margin-top: 8px;
  padding: 0;
}

.user-account-container .account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 8px;
  margin: 50px 0;
}

.user-account-container .account-logout button {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
}

.user-account-container .account-logout button:hover {
  text-decoration: underline;
}

.account-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.account-screen-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #3d3d3d;
  opacity: 0.8;
  outline: none;
  border: none;
  cursor: default !important;
}

.account-modal-content {
  background-color: #fff;
  width: 100%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 25px 35px;
}

.account-screen-modal-close {
  color: #212529;
  font-size: 22px;
  border: none;
  background: none;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-screen-modal-header h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.account-screen-modal-header {
  border-bottom: 1px solid #d3d3d3;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-delete-account-content {
  padding: 10px 0;
}

.account-delete-account-content p {
  font-size: 15px !important;
}

.account-delete-account-content-form,
.account-change-password-content-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.account-delete-account-content-form label,
.account-change-password-content-form label {
  margin: 0;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: 400;
}

.account-delete-account-content-form input,
.account-change-password-content-form input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  font-size: 16px;
}

.account-delete-account-content-form button,
.account-change-password-content-form button {
  width: 100%;
  max-width: 140px;
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  margin: 30px auto 0 auto;
  color: #fff;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-delete-account-content-form .account-delete-btn-grey,
.account-change-password-content-form .account-change-password-btn-grey {
  background-color: gray;
  cursor: not-allowed !important;
}

.account-screen-modal-disable {
  cursor: not-allowed !important;
}

.account-screen-modal-close:disabled:hover,
.account-delete-account-content-form input:disabled:hover,
.account-delete-account-content-form button:disabled:hover,
.account-change-password-content-form input:disabled:hover,
.account-change-password-content-form button:disabled:hover {
  cursor: not-allowed;
}

.account-change-password-content {
  padding: 20px 0 10px 0;
}

.account-change-password-content-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.account-change-password-content-form div:last-of-type {
  margin: 0;
}

.account-change-password-content-form .account-change-password-input-error {
  color: red;
  font-size: 13px;
  display: block;
  margin-top: 4px;
}

.account-user-address {
  padding: 30px 0 10px 0;
  min-height: 120px;
}

.account-user-address p {
  padding: 10px 0 !important;
  margin: 0 !important;
  text-align: center;
  font-size: 12px !important;
}

.account-add-address h4 {
  padding: 10px 0 !important;
  margin: 0 !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.account-add-address h4 svg {
  font-size: 20px;
  margin-right: 8px;
}

.address-sub-heading {
  display: flex;
  align-items: center;
}

.address-sub-heading svg {
  margin-right: 6px;
  font-size: 15px;
}

.address-sub-heading span {
  font-size: 15px;
  font-weight: 400;
}

.account-saved-address-content {
  margin-bottom: 20px;
}

.account-add-address form,
.account-saved-address-content {
  padding: 20px;
}

.address-box {
  padding: 25px 15px 45px 15px !important;
  border: 1px solid #d3d3d3;
  width: 300px;
  border-radius: 8px;
  text-transform: capitalize;
  position: relative;
  background: none;
  background: #f0f0f0;
}

.address-box span {
  pointer-events: none;
  font-weight: 400;
  font-size: 13px !important;
  display: block;
  line-height: 1.4;
}

.address-box-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.address-btn-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 8px;
}

.address-btn-container button {
  border: none;
  outline: none;
  background: none;
  font-size: 13px;
  font-weight: 500;
}

.address-btn-container span {
  margin: 0 6px;
}

.address-btn-container button:hover:enabled {
  text-decoration: underline;
}

.add-new-address-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-new-address-button-container button {
  display: block;
  border: none;
  background: none;
  font-size: 15px !important;
}

.add-new-address-button-container svg {
  font-size: 15px;
  margin-right: 6px;
}

.account-address-go-back {
  background: none;
  border: none;
  display: block;
  margin: 15px 0 15px auto;
  font-size: 13px;
  font-weight: 400;
}

.account-address-go-back:hover:enabled {
  text-decoration: underline;
}

.account-address-wrapper button:disabled {
  color: #212529;
  cursor: wait;
}

.account-address-inactive {
  color: #d3d3d3 !important;
}

.account-order-container-content {
  padding: 10px 0;
}

.account-order-api-msg {
  margin-top: 20px !important;
  text-align: center;
  font-size: 13px !important;
}

.account-order-box {
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0 !important;
  overflow: hidden;
}

.account-order-box:last-child {
  margin: 0;
}

.account-order-box-btm {
  display: flex;
}

.account-order-box-btm img {
  width: 100px;
  object-fit: contain;
}

.account-order-box-btm-wrapper {
  display: flex;
}

.account-order-box-desc {
  padding: 8px 4px;
}

.account-order-box-btm p {
  font-size: 15px !important;
  font-weight: 400 !important;
  text-transform: capitalize;
  margin: 0 !important;
}

.account-order-box-btn-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 6px;
  padding: 8px 0;
}

.account-order-box-btn-container button {
  border-radius: 5px;
  font-size: 13px;
  width: 100px;
  border: 1px solid #d3d3d3;
  background: none;
  padding: 4px;
}

.account-order-box-btn-container button:hover:enabled {
  border: 1px solid #212529;
}

.account-order-box-btn-container button:disabled {
  cursor: not-allowed;
}

.account-order-box-top {
  display: flex;
  align-items: center;
  padding: 4px 0 8px 0 !important;
  gap: 6px;
}

.account-order-box-top p {
  font-size: 12px !important;
  margin: 0 !important;
  font-weight: 400 !important;
}

.account-order-box-top span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.account-order-box-desc p {
  font-size: 14px !important;
  line-height: 22px;
}

.account-order-box-desc span {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.account-order-box-active {
  border: 1px solid #212529 !important;
}

.account-order-toggle-container-wrapper {
  padding: 20px 10px;
}

.account-order-toggle-container h5 {
  font-weight: 400;
  font-size: 14px;
}

.account-order-track-details-content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 400px;
  margin: 30px auto 20px auto;
  position: relative;
}

.account-order-track-details-content div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  background-color: white;
  position: relative;
  z-index: 3;
}

.account-order-track-details-content div .name {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  user-select: none;
}

.account-order-track-details-content .fill-in {
  border-color: #4cbb17;
  border-width: 2px;
}

.account-order-track-details-content .track-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
  z-index: 1;
  transform: translateY(-50%);
}

.account-order-track-details-content .track-line-fill {
  position: absolute;
  top: 50%;
  width: calc(25% + 25px);
  height: 1px;
  background-color: #4cbb17;
  z-index: 2;
  transform: translateY(-50%);
}

.account-order-track-details-content .order-dispatched {
  width: calc(50% + 50px);
}

.account-order-track-details-content .order-shipped {
  width: calc(75% + 75px);
}

.account-order-cancel-content {
  max-width: 400px;
  margin: 0 auto;
}

.account-order-cancel-input {
  display: flex;
  flex-direction: column;
}

.account-order-cancel-input div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.account-order-cancel-input label {
  font-size: 14px;
  margin: 0;
  padding: 4px 0;
}

.account-order-cancel-btn {
  margin: 20px 0;
}

.account-order-cancel-input textarea,
.account-order-cancel-input select {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  padding: 5px;
  font-size: 13px;
}

.account-order-cancel-input textarea {
  resize: none;
  height: 80px;
}

.account-order-cancel-btn button {
  margin: 0 auto;
  font-size: 12px;
  width: 140px;
  height: 28px;
  border-radius: 4px;
  border: none;
  background: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-order-cancel-btn button:disabled {
  cursor: wait;
}

.account-order-details-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 0;
}

.account-order-details-content table {
  border-collapse: collapse;
}

.account-order-details-content h6 {
  font-weight: 500;
  font-size: 13px;
}

.account-order-details-content td {
  font-weight: 300;
  font-size: 12px;
  padding: 4px 0px;
}

.account-order-details-content tr td:first-child {
  padding-right: 20px;
}

.account-order-details-content .summary-total td,
.account-order-details-content .summary-refund td {
  font-weight: 500;
  font-size: 13px;
}

.account-order-details-content .summary-refund td {
  color: #008000;
}

.account-order-details-content-ordered-on {
  padding: 10px 0 4px 0;
}

.account-order-details-content-ordered-on span {
  font-weight: 500;
  margin-right: 4px;
}

.summary-currency-sm {
  display: flex;
  align-items: center;
}

.summary-currency-sm span:first-of-type {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1px;
  font-size: 10px;
}

.account-order-address {
  max-width: 150px;
}

@media (max-width: 980px) {
  .user-account-container h1 {
    font-size: 20px;
  }
  .user-account-container .operation-container .account-opr svg {
    font-size: 18px;
  }

  .user-account-container .operation-container h4 {
    font-size: 15px;
  }

  .user-account-container .operation-container p {
    font-size: 12px;
  }
  .user-account-container
    .operation-container
    .account-opr
    .account-opr-wrapper {
    margin-left: 10px;
  }
  .user-account-container .account-logout button {
    font-size: 13px;
  }

  .account-screen-modal-header h2 {
    font-size: 15px;
  }
  .account-screen-modal-close {
    font-size: 18px;
  }
  .account-delete-account-content p {
    font-size: 13px !important;
  }

  .account-delete-account-content-form label,
  .account-change-password-content-form label {
    font-size: 13px;
  }

  .account-delete-account-content-form button,
  .account-change-password-content-form button {
    font-size: 13px;
    padding: 3px 6px;
  }
  .account-delete-account-content-form input,
  .account-change-password-content-form input {
    font-size: 14px;
  }

  .account-change-password-content-form .account-change-password-input-error {
    font-size: 11px;
  }

  .account-user-address p {
    font-size: 11px !important;
  }

  .account-add-address h4 {
    font-size: 14px !important;
  }

  .account-add-address h4 svg,
  .add-new-address-button-container svg {
    font-size: 16px;
  }
  .account-add-address form,
  .account-saved-address-content {
    padding: 20px;
  }
  .address-box span {
    font-size: 13px !important;
  }
  .address-box {
    max-width: 260px;
  }
  .address-btn-container button {
    font-size: 12px;
  }

  .address-sub-heading svg,
  .add-new-address-button-container svg {
    font-size: 14px;
    margin-right: 6px;
  }

  .address-sub-heading span,
  .add-new-address-button-container button {
    font-size: 14px !important;
  }
  .account-address-go-back {
    font-size: 12px;
  }

  .account-order-box-desc p {
    font-size: 13px !important;
  }
  .account-order-box-btn-container button {
    font-size: 12px;
    width: 86px;
  }
  .account-order-box-desc span {
    font-size: 11px;
  }

  .account-order-toggle-container h5 {
    font-size: 13px;
  }

  .account-order-cancel-input label {
    font-size: 13px;
  }

  .account-order-cancel-input textarea,
  .account-order-cancel-input select {
    font-size: 12px;
  }

  .account-order-cancel-btn button {
    font-size: 11px;
  }
}

@media (max-width: 680px) {
  .address-box-container {
    justify-content: center;
  }

  .account-order-box-btm img {
    width: 80px;
  }

  .account-order-box-btm {
    flex-direction: column;
  }

  .account-order-box-btn-container {
    margin: 20px auto;
    width: 90%;
  }

  .account-order-box-btn-container button {
    width: 100%;
  }

  .account-order-box-desc p {
    font-size: 12px !important;
  }

  .account-order-box-desc span {
    font-size: 11px;
  }
  .account-order-track-details-content {
    flex-direction: column;
    margin-left: 30%;
    margin-right: auto;
    width: fit-content;
    gap: 25px;
    height: 300px;
    overflow: unset;
  }
  .account-order-track-details-content .track-line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 1px;
    height: 100%;
  }

  .account-order-track-details-content .track-line-fill {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: 1px;
    height: calc(25% + 30px);
  }

  .account-order-track-details-content .order-dispatched {
    height: calc(50% + 40px);
  }

  .account-order-track-details-content .order-shipped {
    height: calc(75% + 50px);
  }

  .account-order-track-details-content .name {
    bottom: 3px !important;
    left: 63px !important;
    font-size: 10px;
  }

  .account-order-details-content p {
    font-size: 11px !important;
  }

  .account-order-details-content td {
    font-size: 11px;
  }
  .account-order-details-content .summary-total {
    font-size: 12px;
  }
  .account-order-details-content {
    justify-content: baseline;
  }
}
