.home-container {
  padding: 20px 0 0 0;
}

.skeleton-loading {
  display: flex;
  width: 100vw;
  max-width: 1720px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.skeleton-loading .skeleton {
  width: 280px;
  height: 250px;
  flex-shrink: 0;
  margin: 0 15px;
  border-radius: 5px;
}

.skeleton-loading span {
  line-height: unset;
}

.home-corousel-btns button {
  width: 30px;
  height: 30px;
  font-size: 24px;
  border: none;
  background: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-corousel-btns button:first-of-type {
  border-right: 1px solid #dddd;
}

.home-corousel-btns {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #dddd;
  flex-shrink: 0;
  display: flex;
}

@media (max-width: 980px) {
  .skeleton-loading .skeleton {
    width: 220px;
    height: 200px;
  }
}
