.order-process-nav {
  width: 100%;
  padding: 20px;
}
.order-process-nav-sub1 {
  display: flex;
  text-decoration: none !important;
  padding: 0 0 20px 0;
}

.order-process-nav-sub2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 50px;
}
.order-process-nav-sub2 svg {
  font-size: 26px;
  position: relative;
  z-index: 99;
  color: rgb(218, 218, 218);
  transition: color 0.2s ease-in;
}

.order-process-nav-sub2 svg:first-of-type {
  transform: translateX(-2px);
}

.order-process-nav-sub2 svg:last-of-type {
  transform: translateX(4px);
}

.progress-color {
  color: red !important;
}
.order-process-nav-sub2 .progress-bar {
  width: 95%;
  z-index: 9;
  background-color: rgb(218, 218, 218);
  position: absolute;
  height: 2px;
}
.order-process-nav-sub2 .address-progress {
  position: absolute;
  height: 2px;
  z-index: 999;
  background-color: red;
  width: 0;
  transition: all 0.4s ease-in-out;
}
.progress-visible {
  width: 52% !important;
}
.order-process-nav-sub2 .delivery-progress {
  position: absolute;
  height: 2px;
  left: 50%;
  width: 0%;
  z-index: 999;
  background-color: red;
  transition: all 0.4s ease-in-out;
}

.order-delivery-container,
.payment-mode-container {
  width: 95%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  border-radius: 5px;
}
.order-delivery-container h2,
.payment-mode-container h2,
.order-sucess-container h2 {
  text-align: center;
  font-size: 24px;
  pointer-events: none;
  padding: 20px 0;
}
.order-process-container p {
  text-align: center;
  margin-top: 20px;
}
.order-process-container .continue-btn {
  padding: 5px;
  width: 100px;
  background-color: red;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
}

.order-process-container .continue-btn:enabled:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.order-delivery-container .order-delivery-sub-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  height: 220px;
  overflow-y: auto;
}

.order-process-btn-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.order-process-btn-container button {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  color: black;
  background-color: gray;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.order-process-btn-container button:first-child {
  border: 1px solid #d3d3d3;
  background-color: white;
  margin-right: 4px;
}
.order-process-btn-container button:last-child {
  background-color: red;
  color: white !important;
}
.disable-continue-btn {
  background-color: rgb(182, 182, 182) !important;
  cursor: not-allowed;
  border: 1px solid rgb(182, 182, 182) !important;
  color: #dadada !important;
}
.payment-mode {
  padding: 10px;
}
.payment-mode input {
  margin-right: 5px;
  color: black;
  padding: 2px;
  cursor: pointer;
}

.payment-mode .card-payment {
  padding: 10px;
}
.payment-mode .card-payment img {
  max-width: 200px;
  height: 30px;
  padding: 0 15px;
  margin-bottom: 5px;
  user-select: none;
  pointer-events: none;
}
.payment-mode .card-payment .payment-input h4 {
  font-size: 13px;
  margin: 0;
  margin-bottom: 4px !important;
  padding: 0;
  font-weight: 300;
}
.payment-mode .card-payment .payment-input {
  padding: 15px;
}
.payment-mode .card-payment .payment-input input {
  margin-bottom: 25px;
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-weight: 300;
  font-size: 13px;
  padding: 0 5px;
  cursor: text;
}
.payment-mode .card-payment .payment-card {
  display: flex;
  margin-bottom: 25px;
}
.payment-mode .card-payment .payment-card select {
  width: 60px;
  height: 25px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: rgb(49, 49, 49);
  border-radius: 4px;
  font-size: 12px;
}
.payment-mode .card-payment .payment-input button {
  border: none;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: rgb(255, 174, 0);
  font-weight: 300;
}
.payment-mode .card-payment .payment-input h5 {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 2px;
  font-weight: 300;
}
.payment-mode .card-payment .payment-input form div {
  position: relative;
}
.payment-mode .card-payment .payment-input .card-added-success-msg {
  color: green;
  font-weight: 400;
  font-size: 13px;
  margin-left: 10px;
}
.order-sucess-container {
  width: 95%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 0 0 5px rgb(196, 196, 196);
  border-radius: 5px;
  height: 100%;
}
.order-sucess-container h3 {
  font-size: 18px;
  margin: 0;
  pointer-events: none;
  padding: 0 15px;
  font-weight: bold;
  text-decoration: underline;
}
.order-sucess-item-details-container {
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
}
.order-sucess-container .order-success-item-details {
  padding: 10px 0;
}
.order-sucess-container .order-success-item-details td:first-child {
  font-size: 18px;
  text-transform: capitalize;
}
.order-sucess-container .order-success-item-details td {
  pointer-events: none;
}
.order-sucess-container .order-success-item-details td:nth-child(2) {
  font-size: 14px;
  color: rgb(150, 150, 150);
}
.order-sucess-container .order-success-item-details td:last-child {
  font-size: 16px;
}
.order-sucess-container .amount-payable {
  margin: 5px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
}

.order-sucess-container .order-data-loading {
  width: 100%;
  height: 80px;
}
.order-delivery-container .address-data-loading {
  width: 100%;
  height: 80px;
}
.order-delivery-container .no-address {
  padding: 5px 10px;
  position: relative;
}
.order-delivery-container .no-address h5 {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  font-weight: 500;
}
.order-delivery-container .no-address button {
  background-color: rgb(255, 174, 0);
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 0;
}

.order-delivery-container .add-address-btn button:disabled {
  cursor: not-allowed;
}

.order-delivery-container .no-address .address-container div {
  position: relative;
  margin-bottom: 32px;
}
.order-delivery-container .no-address .address-container div label {
  position: absolute;
  top: 6px;
  pointer-events: none;
  font-size: 14px;
  left: 6px;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  height: 10px;
}

.order-delivery-container
  .no-address
  .address-container
  div
  input:focus
  ~ label,
.order-delivery-container
  .no-address
  .address-container
  div
  input:not(:placeholder-shown)
  ~ label {
  transform: translateY(-14px);
  font-size: 13px;
  background-color: white;
  padding: 0 3px;
  color: rgb(75, 75, 75);
}

.order-delivery-container .no-address .address-container div input {
  padding: 6px 4px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  background-color: white;
  border: 1px solid gray;
}

.order-delivery-container .no-address .address-container div input:disabled {
  cursor: not-allowed;
}

.order-delivery-container .no-address .address-container div h4 {
  position: absolute;
  bottom: -24px;
  font-size: 11px;
  left: 5px;
  color: red;
  font-weight: 400;
}
.order-delivery-container .no-address .no-address-cover {
  position: absolute;
  background-color: rgba(255, 252, 252, 0.508);
  top: 0;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
}
.order-delivery-container .no-address .new-address-data-loading {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.order-delivery-container {
  position: relative;
  overflow: hidden;
}
.order-delivery-container .server-error1,
.order-delivery-container .server-error2 {
  position: absolute;
  background-color: rgb(255, 100, 100);
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
  top: -30px;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  transition: all 0.5s ease-in-out;
}
.server-error-display {
  opacity: 1 !important;
  top: -1px !important;
}
.order-delivery-sub-container {
  padding: 15px 10px;
  border-radius: 5px !important;
  border: 1px solid #d3d3d3;
}
.order-delivery-sub-container .each-address {
  padding: 25px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  transition: color 0.15s ease-in, background 0.15s ease-in;
  font-weight: 400;
}
.selected-address {
  background: #add8e6;
}

.order-delivery-sub-container .each-address:hover {
  background: #add8e6;
}

.order-sucess-container {
  position: relative;
  overflow: hidden;
}
.order-sucess-container .order-success-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.597);
}
.order-sucess-container .order-success-cover .order-success-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 80px;
  transform: translate(-50%, -50%);
}
.order-server-error {
  position: absolute;
  background-color: rgb(255, 100, 100);
  color: white;
  font-size: 12px;
  width: 100%;
  text-align: center;
  top: -30px;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  transition: all 0.5s ease-in-out;
}

.order-process-container h2 {
  font-size: 18px;
}

.payment-mode label {
  font-size: 14px;
  transform: translateY(-2px);
}

.order-process-btn-container button {
  padding: 5px;
  width: 100px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
}

.order-process-container .address-container form {
  padding: 0 10px;
}

.amount-payable-currency {
  display: flex;
  align-items: center;
}

.amount-payable-currency .currency {
  margin: 10px 0;
}

.amount-payable-currency .currency::after {
  content: ".00";
  font-size: 12px;
}

.amount-payable span:first-of-type {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 7px;
}

.order-success-item-details td {
  font-size: 14px !important;
}

.amount-payable-label {
  font-size: 15px !important;
  font-weight: 400 !important;
}

.order-sucess-item-details-wrapper {
  padding: 10px 15px;
}

.order-success-item-details tr:last-of-type td:last-child {
  margin: 100px;
}

.order-sucess-item-details-currency span {
  font-size: 12px;
  margin-bottom: 3px;
}

.order-sucess-item-details-currency {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order-sucess-item-details-currency .currency::after {
  content: ".00";
}

.order-sucess-item-details-currency .currency {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.order-success-item-details td {
  padding: 10px;
}
