.trending-in-container {
  min-height: 260px;
  margin: 70px 0;
}
.trending-in-container h2 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  line-height: 21px;
  margin: 0;
  padding-bottom: 40px;
}
.trending-in-container .trending-in {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.trending-in-container .trending-in .trending-home-container {
  margin: 5px;
  padding: 10px;
  width: 160px;
  flex-shrink: 0;
}
.trending-in-container .trending-in img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 980px) {
  .trending-in-container .trending-in .trending-home-container {
    width: 130px;
  }
  .trending-in-container h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .trending-in-container h2 {
    font-size: 16px;
  }
}
