.users-container {
  flex: 1 1;
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  box-shadow: 0 0 4px rgb(194, 194, 194);
}

.users-container h1 {
  font-size: 22px;
  color: #343434;
  padding: 10px;
  margin: 0;
  font-weight: 500;
}

.users-container-datas {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 0 10px;
  height: 60%;
}
.users-each-container-datas {
  display: flex;
  align-items: center;
  margin: 15px 0;
  pointer-events: none;
}
.users-each-container-datas .admin-user-image {
  background-color: rgb(245, 245, 245);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.admin-user-input-search {
  width: 90%;
  height: 35px;
  margin: 10px 0 20px 0;
  color: #343434;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #a5a5a5;
  background-color: none;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}
.admin-user-input-search div {
  width: 30px !important;
  height: 100%;
  cursor: pointer;
  color: white;
  text-align: center;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-user-input-search input {
  padding: 5px 10px;
  width: 95%;
  margin-right: 5px;
  border-radius: 4px;
  height: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgb(250, 250, 250);
}
.users-each-container-datas div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.users-each-container-datas h5 {
  margin: 0;
  font-size: 14px;
  text-transform: capitalize;
  margin-left: 10px;
  font-weight: 400;
}
.admin-user-details h4 {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  margin-left: 10px;
  margin-top: 4px;
  color: #a5a5a5;
}
.users-container-datas::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.users-container-datas::-webkit-scrollbar-track {
  border-radius: 10px;
  background: none;
}

.users-container-datas::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 10px;
}

.users-container-datas::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}
