* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.home-wrapper {
  background-color: #fff;
  min-height: 100vh;
}

.react-loading-skeleton {
  animation-direction: alternate !important;
}

.contain {
  max-width: 1720px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
